AddGroupScreen {
    align: center middle;
    height: auto;
    width: auto;
}

AddGroupScreen Horizontal {
    height: auto;
    width: auto;
}

AddGroupScreen Vertical {
    height: auto;
    width: auto;
}

AddGroupScreen #new_group_name_input {
    height: auto;
    width: 30;
}