QuickLabelScreen {
    align: center middle;
    height: auto;
    width: auto;
}

QuickLabelScreen VerticalScroll{
    height: auto;
    width: auto;
    border: double $secondary;
    border-title-align: center;
    background: $primary-background;
}

Rule {
    
}

QuickLabelScreen Input {
    width: 20;
    background: black;

}
#label_list {
    width: 20;

    
}