QuickCategoryScreen {
    align: center middle;
    height: auto;
    width: auto;
}

QuickCategoryScreen VerticalScroll{
    height: auto;
    width: auto;
    border: double $secondary;
    border-title-align: center;
    background: $primary-background;
}

Rule {
    
}

QuickCategoryScreen Input {
    width: 20;
    background: black;

}
#category_list {
    width: 20;

    
}