TransactionDetailScreen {
    align: center middle;
    height: auto;
    width: auto;
}

TransactionDetailScreen Vertical{
    height: auto;
    width: auto;
    border: round $secondary;
    border-title-align: center;
    background: $primary-background;
}

Markdown{
    background: $primary-background;
}

#manual_label_buttons {
    layout: horizontal;
    height: auto;
}

#manual_label_buttons Button{
    width: auto;
    min-width: 0;
    height: auto;
    margin: 1;
    border: none;
}